html, body 
    margin: 0
    padding: 0
    position: relative
    overflow: hidden

    width: 100%
    height: 100%

    background: linear-gradient(-45deg, #c77055, #c74e7c, #4ca6c6, #4cc9ae)
    animation: gradient 15s ease infinite
    background-size: 400% 400%
    
$frame_depth: 35px

#frame
    position: absolute
    top: 0
    left: 0

    margin: 0
    padding: 0
    
    background-color: #20202066
    width: 100%
    height: $frame_depth

    text-align: right

    button
        transition: 0.2s

        position: relative
        right: 10px
        top: 5px
        
        border: none 
        background-color: #00000000
        background: none
        color: white
        filter: invert(100%)

        z-index: 999
        border-radius: 7px

    button:hover
        background-color: #00000022
        cursor: pointer

    img
        position: relative
        top: 2px

        padding: 0
        margin: 0

        height: calc($frame_depth * 0.6)

    #drag-region
        margin: 0
        position: absolute
        top: 0
        left: 0

        width: calc(100% - 80px)
        height: 100%

        -webkit-app-region: drag

#home-page
    position: absolute
    top: $frame_depth
    left: 50%
    transform: translate(-50%, 0)

    margin-bottom: 10%

    width: 95%
    height: 93%

    border-radius: 20px

    background-color: white
    text-align: center

    button
        cursor: pointer

    h1 
        text-align: center
        font-size: 50px
        font-weight: 300
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        margin-bottom: 10px

    .subtitle
        padding-bottom: 10px
        margin: 0px 10% 0px 10%

        text-transform: lowercase
        text-align: center
        font-size: 20px
        font-weight: 300
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    .divider
        border-bottom: 1px solid #202020

    
    #start-parse
        transition: 0.2s
        display: inline-block

        position: relative
        top: 20px
        
        margin-top:10px
        padding: 10px 20px

        border-radius: 5px
        border: 1px solid #202020
        background: linear-gradient(-45deg, #c77055, #c74e7c, #4ca6c6, #4cc9ae)
        animation: gradient 15s ease infinite
        background-size: 400% 400%
        
        color: #202020
        font-weight: 300

        font-size: 20px
        color: white
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        font-weight: 200
        
        box-shadow: 0px 3px 5px mix(#202020, white, 60%)

    #start-parse:hover
        box-shadow: 0px 5px 5px mix(#202020, white, 60%)
        transform: translateY(-2px)

    #start-parse:disabled
        transform: translateY(1px)
        box-shadow: 0px 2px 5px mix(#202020, white, 60%)
        opacity: 80%

    #controls-container
        margin-top: 10px
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

        #config-selector
            text-align: left

        margin-left: 20px

        h3
            font-size: 20px
            font-weight: 400
            

        input 
            margin-bottom: 10px
            margin-left: 10px

            font-size: 15px
            font-weight: 300
        
        label
            margin-left: 10px

        button 
            transition: 0.15s

            margin-top: 10px
            margin-left: 10px
            padding: 8px

            font-size: 15px
            font-weight: 400
            background-color: white
            border: 1px solid #202020
            border-radius: 4px

        button:hover
            font-weight: 100
            background-color: #887ec9
            color: white

        color: #202020

        #customBlock
            padding: 8px
            border-radius: 4px
            border: 1px solid #202020
            font-size: 15px

        .modify-btn
            position: relative
            top: 30px
            
            padding: 5px
            border-color: gray
            color: gray
            font-size: 13px

        .modify-btn:hover
            color: white

        #root-text
            position: relative
            top: 15px

        #search-dir
            position: relative
            top: 30px
            font-family: 'Courier New', Courier, monospace
            margin: 0


    #console
        position: relative
        top: 25px

        height: 200px
        margin: 10px 20px 0px 0px

        overflow-y: scroll
        overflow-x: hidden

        background-color: #e0d9e1
        border: 1px solid #202020
        border-radius: 10px

        p 
            position: relative

            padding: 15px
            margin: 0

            font-size: 12px
            text-align: left
            word-wrap: break-word
            font-family: 'Courier New', Courier, monospace

        em 
            color: red
            font-weight: bold
            


    .right
        width: 60%
        float: right

    .left
        width: 40%
        float: left



@keyframes gradient 
    0% 
        background-position: 0% 50%
    
    50% 
        background-position: 100% 50%
    
    100% 
        background-position: 0% 50%
